---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Xolgoth.dev">
	<main>
		<svg
			class="astro-a"
			width="495"
			height="623"
			viewBox="0 0 495 623"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
		>
			<path
			d="M1877 2819 c-54 -13 -112 -44 -150 -82 -31 -32 -277 -438 -277 -459
			0 -5 -4 -8 -9 -6 -5 2 -91 113 -192 247 -137 182 -192 247 -216 258 -139 58
			-447 -80 -603 -270 -50 -60 -100 -160 -100 -198 0 -15 -11 -52 -25 -82 -87
			-190 -26 -387 143 -465 55 -25 153 -35 197 -19 17 6 34 -13 116 -132 l97 -139
			-222 -334 c-123 -183 -230 -339 -240 -347 -9 -7 -23 -38 -32 -67 -14 -49 -14
			-59 1 -116 67 -264 490 -501 753 -423 79 24 115 62 177 189 29 61 87 175 128
			252 l74 141 159 -215 c88 -118 173 -225 190 -238 164 -125 484 -26 674 209 59
			73 114 181 129 255 27 129 4 212 -79 292 -33 32 -134 164 -233 304 l-174 248
			46 69 c32 48 50 67 61 62 61 -24 89 -26 156 -10 162 40 253 169 242 342 -7 99
			-47 182 -132 272 -36 39 -66 77 -66 85 0 9 -16 48 -37 88 -101 203 -357 336
			-556 289z m236 -99 c83 -31 173 -104 224 -179 24 -35 43 -65 41 -66 -2 -2 -23
			1 -48 5 -59 11 -115 -4 -153 -41 -26 -26 -28 -35 -25 -77 3 -26 8 -55 12 -64
			7 -16 0 -18 -81 -18 -137 0 -251 -41 -340 -123 -47 -43 -103 -130 -103 -159 0
			-23 2 -22 42 2 43 26 121 26 199 0 73 -25 91 -36 191 -117 43 -34 87 -67 98
			-73 20 -11 19 -14 -35 -92 -37 -53 -55 -89 -52 -102 7 -36 366 -538 418 -586
			27 -25 56 -62 64 -82 58 -142 -51 -368 -243 -505 -174 -125 -377 -142 -458
			-39 -13 17 -99 131 -190 254 -135 182 -169 223 -186 220 -24 -3 -19 6 -195
			-338 -63 -124 -124 -235 -135 -247 -33 -35 -81 -46 -182 -41 -107 6 -213 43
			-315 110 -183 120 -279 300 -203 381 40 43 482 711 482 729 0 10 -28 57 -62
			105 -33 49 -81 116 -104 149 l-43 62 37 24 c20 14 71 52 112 85 41 33 91 68
			110 78 91 47 219 59 263 25 28 -22 47 -26 47 -10 0 27 -57 118 -99 159 -92 89
			-204 131 -353 131 l-87 0 15 35 c18 44 18 59 -2 101 -10 22 -31 40 -60 55 -40
			19 -51 20 -105 10 -34 -6 -81 -22 -106 -37 l-45 -26 18 27 c36 55 168 156 273
			207 91 45 113 52 180 56 l77 4 209 -276 c131 -173 215 -276 225 -276 25 0 27
			3 182 268 76 130 153 249 170 264 18 15 50 34 72 43 57 21 175 14 249 -15z
			m-1408 -274 c57 -24 71 -81 37 -145 -15 -27 -29 -37 -75 -51 -90 -28 -227
			-116 -227 -147 0 -20 8 -16 53 23 61 51 170 102 262 121 157 32 324 -15 429
			-119 29 -30 59 -64 65 -77 12 -22 11 -22 -11 -14 -41 14 -150 6 -211 -17 -32
			-12 -79 -38 -105 -58 -248 -191 -285 -210 -383 -198 -205 26 -309 250 -209
			453 85 172 258 278 375 229z m1702 -17 c63 -30 157 -130 193 -203 109 -221 3
			-443 -220 -463 -49 -5 -66 -1 -121 25 -35 17 -109 67 -164 110 -117 93 -178
			126 -262 142 -60 12 -100 11 -135 -5 -33 -13 -19 13 39 75 126 137 323 182
			516 118 79 -26 98 -36 175 -93 75 -55 96 -50 32 7 -48 43 -140 94 -205 113
			-95 29 -109 157 -20 196 32 14 122 2 172 -22z m-946 -176 c35 19 37 10 7 -29
			-12 -16 -23 -31 -24 -33 -4 -5 -28 20 -49 53 l-20 29 29 -18 c27 -18 30 -18
			57 -2z m-561 -763 c8 -15 8 -25 -2 -39 -12 -17 -13 -15 -13 20 0 45 1 46 15
			19z m625 -677 c28 -42 33 -63 9 -39 -17 18 -50 21 -59 6 -7 -12 -25 -13 -25
			-2 0 10 38 72 44 72 3 0 17 -17 31 -37z"/>
			<path d="M1922 2685 c14 -32 -5 -57 -41 -53 -20 2 -27 10 -31 33 -5 25 -7 26
			-11 10 -3 -11 -4 -26 -1 -33 4 -14 83 -57 81 -45 -3 21 2 33 16 33 8 0 15 6
			15 14 0 24 -19 66 -30 66 -6 0 -5 -9 2 -25z"/>
			<path d="M680 2582 c-40 -39 -48 -56 -31 -66 5 -3 11 7 14 22 4 17 21 38 44
			55 21 15 32 27 26 27 -7 0 -30 -17 -53 -38z"/>
			<path d="M1030 2607 c0 -27 -34 -45 -86 -45 -53 0 -162 -40 -185 -68 -17 -21
			0 -17 66 16 44 22 75 30 116 30 42 0 61 5 77 20 19 18 31 60 17 60 -3 0 -5 -6
			-5 -13z"/>
			<defs>
				<linearGradient
					id="paint0_linear_1805_24383"
					x1="247.358"
					y1="0"
					x2="247.358"
					y2="622.479"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-opacity="0.9"></stop>
					<stop offset="1" stop-opacity="0.2"></stop>
				</linearGradient>
			</defs>
		</svg>
		<h1>Welcome to <span class="text-gradient">Xolgoth.dev</span></h1>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/Xolgrunek"
				title="Github"
				body="Direct link to my github and any projects."
			/>
			<Card
				href="https://vgen.co/xolgrunek"
				title="VGen"
				body="Link to my commissions"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
